doctype html
html
  head
    block title
      title twinpx
      
    include includes/meta
    include includes/styles-critical
    
  body
    include includes/header
    
    section.container
      block content
        h1 twinpx
    
    include includes/footer
    
    include includes/scripts-complete
    include includes/styles-complete
