// start /components/index-gallery/

link( rel="stylesheet" href="/template/swiper.min.css" )
link( rel="stylesheet", href="/components/index-gallery/style.css" )
script( src="/components/index-gallery/script.js" )

.b-index-gallery
    
  a#indexGalleryButton.b-button( href="" ) Связаться с нами
  .b-index-gallery__text-block
    #indexGalleryText
      .b-h1 Сайты
      .b-h2 Разработка, поддержка, развитие
      p Мы разрабатываем веб-проекты эфективно дополняющие и развивающие бизнес наших клиентов.
    
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .row
          .col.l6.m12.s12
            .b-index-gallery__text
              .b-h1 Сайты
              .b-h2 Разработка, поддержка, развитие
              p Мы разрабатываем веб-проекты эфективно дополняющие и развивающие бизнес наших клиентов.
          
          .col.l6.m12.s12
            .b-index-gallery__ill( style="background-image: url( '/upload/gallery/1.png' );" )
      
      .swiper-slide
        .row
          .col.l6.m12.s12
            .b-index-gallery__text
              .b-h1 Хостинг
              .b-h2 Разработка, поддержка, развитие
              p Мы разрабатываем веб-проекты эфективно дополняющие и развивающие бизнес наших клиентов.
          
          .col.l6.m12.s12
            .b-index-gallery__ill( style="background-image: url( '/upload/gallery/1.png' );" )
            
      .swiper-slide
        .row
          .col.l6.m12.s12
            .b-index-gallery__text
              .b-h1 Поддержка
              .b-h2 Разработка, поддержка, развитие
              p Мы разрабатываем веб-проекты эфективно дополняющие и развивающие бизнес наших клиентов.
          
          .col.l6.m12.s12
            .b-index-gallery__ill( style="background-image: url( '/upload/gallery/1.png' );" )
            
      .swiper-slide
        .row
          .col.l6.m12.s12
            .b-index-gallery__text
              .b-h1 Продвижение
              .b-h2 Разработка, поддержка, развитие
              p Мы разрабатываем веб-проекты эфективно дополняющие и развивающие бизнес наших клиентов.
          
          .col.l6.m12.s12
            .b-index-gallery__ill( style="background-image: url( '/upload/gallery/1.png' );" )
      
    .swiper-pagination
    
    .swiper-button-prev
    .swiper-button-next

// end /components/index-gallery/