footer.b-footer

  .container
  
    .row
    
      .col.m4.s12
        a.b-instagram-icon( href="http://www.instagram" style="background-image: url( '/template/images/instagram.svg' );" )
        .b-placeholder
          span Улица Мневники 3, корпус 2, офис 224. Москва, Россия, 123308<br>Понедельник−Пятница, с 9:00 до 18:00
          
      hr.i-size-S.clearfix.hide-on-med-and-up
          
      .col.m4.s12
        .b-placeholder
          a( href="tel:+74993500798" ) +7 499 35 007 98
          
      hr.i-size-S.clearfix.hide-on-med-and-up
          
      .col.m4.s12.b-footer__copyright
        .b-placeholder
          span ООО Твин пикс, ОГРН 1077760866193 
