header.b-header
  .container
    
    .row
    
      .col.l6.m7.s10
        .b-logo
          .b-placeholder
            img( src="/template/images/twinpx-logo.svg" width="146" height="55" alt="" )
            span Twin px<br>работаем с 2003 года
      
      .col.l6.m5.s2
        .hide-on-large-only.b-top-menu-icon( style="background-image: url( '/template/images/menu.svg' );" data-target="slide-out" class="sidenav-trigger" )
        .b-top-menu
          .b-top-menu__item
            .b-placeholder
              a( href="" ) Проекты
          .b-top-menu__item
            .b-placeholder
              a( href="" ) Что мы делаем
          .b-top-menu__item
            .b-placeholder
              a( href="" ) О студии
          .b-top-menu__item
            .b-placeholder
              a( href="" ) Связаться
              
  #slide-out.sidenav
    a.b-sidenav__item( href="" ) Что мы делаем
    a.b-sidenav__item( href="" ) Проекты
    a.b-sidenav__item( href="" ) О студии
    a.b-sidenav__item( href="" ) Связаться
    a.b-button( href="" ) Позвонить