link( rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic" )
link( rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin,cyrillic" )
link( rel="stylesheet" href="/template/materialize.min.css" )
link( rel="stylesheet" href="/template/template_styles.css" )