
<!-- start /components/index-gallery/-->
<link rel="stylesheet" href="/template/swiper.min.css"/>
<link rel="stylesheet" href="/components/index-gallery/style.css"/>
<script src="/components/index-gallery/script.js"></script>
<div class="b-index-gallery"><a class="b-button" id="indexGalleryButton" href="">Связаться с нами</a>
  <div class="b-index-gallery__text-block">
    <div id="indexGalleryText">
      <div class="b-h1">Сайты</div>
      <div class="b-h2">Разработка, поддержка, развитие</div>
      <p>Мы разрабатываем веб-проекты эфективно дополняющие и развивающие бизнес наших клиентов.</p>
    </div>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="row">
          <div class="col l6 m12 s12">
            <div class="b-index-gallery__text">
              <div class="b-h1">Сайты</div>
              <div class="b-h2">Разработка, поддержка, развитие</div>
              <p>Мы разрабатываем веб-проекты эфективно дополняющие и развивающие бизнес наших клиентов.</p>
            </div>
          </div>
          <div class="col l6 m12 s12">
            <div class="b-index-gallery__ill" style="background-image: url( '/upload/gallery/1.png' );"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col l6 m12 s12">
            <div class="b-index-gallery__text">
              <div class="b-h1">Хостинг</div>
              <div class="b-h2">Разработка, поддержка, развитие</div>
              <p>Мы разрабатываем веб-проекты эфективно дополняющие и развивающие бизнес наших клиентов.</p>
            </div>
          </div>
          <div class="col l6 m12 s12">
            <div class="b-index-gallery__ill" style="background-image: url( '/upload/gallery/1.png' );"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col l6 m12 s12">
            <div class="b-index-gallery__text">
              <div class="b-h1">Поддержка</div>
              <div class="b-h2">Разработка, поддержка, развитие</div>
              <p>Мы разрабатываем веб-проекты эфективно дополняющие и развивающие бизнес наших клиентов.</p>
            </div>
          </div>
          <div class="col l6 m12 s12">
            <div class="b-index-gallery__ill" style="background-image: url( '/upload/gallery/1.png' );"></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="row">
          <div class="col l6 m12 s12">
            <div class="b-index-gallery__text">
              <div class="b-h1">Продвижение</div>
              <div class="b-h2">Разработка, поддержка, развитие</div>
              <p>Мы разрабатываем веб-проекты эфективно дополняющие и развивающие бизнес наших клиентов.</p>
            </div>
          </div>
          <div class="col l6 m12 s12">
            <div class="b-index-gallery__ill" style="background-image: url( '/upload/gallery/1.png' );"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<!-- end /components/index-gallery/-->